<form method="GET" class="form-horizontal" action="/Search">
    <div class="input-group input-group-sm col-md-4">
        <input type="text" class="form-control" id="SearchTerm" name="SearchTerm" placeholder="Enter your Search" aria-describedby="sizing-addon1">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
        </span>
    </div>
</form>