@model SearchViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
  <h1>A Search Like No Other</h1>
  <p>Unless you compare us to Bing in which case its pretty similar...</p>
  <div class="row" style="padding-top: 25px">
    <form method="GET" class="form-horizontal" action="/Search">
      <div class="col-md-4">
      </div>
      <div class="input-group input-group-lg col-md-4">
          <input type="text" class="form-control" id="SearchTerm" name="SearchTerm" placeholder="Enter your Search" aria-describedby="sizing-addon1">
          <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Search</button>
          </span>
      </div>
      <div class="col-md-4">
      </div>
    </form>
  </div>
</div>
