@model SearchViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-backbordered">
    <div class="col-sm-12">
      <div class="row">
          @await Html.PartialAsync("_SearchBox")
          <span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
    </div>
</div>
